@using VA.Models;
@{  ViewBag.Title = "All Member";
    Layout = "~/Views/Shared/_LayoutTest.cshtml";
}
@{
    IEnumerable<Member> members = Model;
    Html.RenderPartial("~/Views/PatialViews/_CreateMemberModal.cshtml");
}

    <div class="ui padded segment" style="margin-right: 18.5em;background-color:#FAFAFA;border:0px;box-shadow:none">
        <h2 class="ui header" style="margin-bottom: 25px;">
            <div class="content">
                <i class="user icon"></i>   Member
            </div>
            <button class="ui right floated teal button call_create_member_modal">
                <i class="plus icon"></i>
                Create new member
            </button>
        </h2>

        <div class="ui secondary pointing menu">
            <div class="right menu">
                <div class="ui form">
                    <div class="inline fields">

                        <select name="condition" class="ui dropdown" id="select_condition">
                            <option value="address">Addresse</option>
                            <option value="email">Email</option>
                            <option value="name">Name</option>
                            <option value="phone">Phone number</option>
                        </select>

                        <div class="ui icon input" style="margin-left:15px;">
                            <input type="text" placeholder="Search..." id="search_keyword">
                            <i class="inverted circular search link icon search_button"></i>
                        </div>
                    </div>

                </div>

            </div>
        </div>

        <div class="ui active tab segment" data-tab="first">

            <table class="ui single line selectable  table" style="border:none!important">
                <thead>
                    <tr>
                        <th class="two wide">Name</th>
                        <th class="three wide">Surname</th>
                        <th class="three wide">Email</th>
                        <th class="three wide">Address</th>
                        <th class="two wide">Phone number</th>


                    </tr>
                </thead>
                <tbody>
                    @{


                        if (members != null && members.ToList().Count > 0)
                        {

                            foreach (var member in members)
                            {

                                Html.RenderPartial("~/Views/PatialViews/_MemberResult.cshtml", member);
                            }
                        }




                    }
                </tbody>
            </table>



        </div>


