@using VA.Models;
@model VA.ViewModel.AllAppointmentViewModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutTest.cshtml";
}
@{
    IEnumerable<Appointment> AppWait = Model.AppWait;
    IEnumerable<Appointment> AppCom = Model.AppCom;
}

@{
    Html.RenderPartial("~/Views/PatialViews/_CreateMemberModal.cshtml");
}

<div class="ui padded segment" style="margin-right: 18.5em;background-color:#FAFAFA;border:0px;box-shadow:none">
    <h2 class="ui header" style="margin-bottom: 25px;">
        <div class="content">
            <i class="time icon"></i>   @Model.date.ToString("MMM"),  @Model.date.Year
            <div class="sub header"> This month we have : @{int numMApp = AppWait.Count() + AppCom.Count(); } @numMApp appointments</div>
        </div>
        <button class="ui right floated teal button call_create_member_modal">
            <i class="plus icon"></i>
            Create new member
        </button>
    </h2>

    <div class="ui secondary pointing menu">
        <a  href="/VA/Home/Index" class=" item">
            Daily
        </a>
        <a class="active item">
            Monthly
        </a>
        <div class="right menu">
            <div class="ui form">
                <div class="inline fields">

                    <select name="condition" class="ui dropdown" id="select_condition">
                        <option value="address">Addresse</option>
                        <option value="email">Email</option>
                        <option value="name">Name</option>
                        <option value="phone">Phone number</option>
                    </select>

                    <div class="ui icon input" style="margin-left:15px;">
                        <input type="text" placeholder="Search for member..." id="search_keyword">
                        <i class="inverted circular search link icon search_button"></i>
                    </div>
                </div>

            </div>

        </div>
    </div>

    @* ------------------------ Second tab       ----------------------------------------------------------------------------------------- *@

    <div class="ui active tab segment">
        <div class="ui calendar test_app_calendar4">
            <div class="ui input left icon">
                <i class="time icon"></i>
                <input type="text" placeholder="Time" value="'@Model.date.ToString("MMM")'">
            </div>
        </div>
        <div class="ui segment">
            @* Waiting monthly appointment *@
            <div class="ui teal large label">
                Waiting appointment
            </div>
            @if (AppWait != null && AppWait.ToList().Count > 0)
            {
                <table class="ui single line selectable  table" style="border:none!important">
                    <thead>
                        <tr>
                            <th class="one wide">Date</th>
                            <th class="two wide">Member name</th>
                            <th class="two wide">Pet name</th>
                            <th class="four wide">Detail</th>
                            <th class="one wide">Status</th>
                            <th class="two wide" style="text-align:center">View</th>
                            <th class="two wide" style="text-align:center">Edit</th>
                            <th class="two wide">Delete</th>
                        </tr>
                    </thead>
                    <tbody>

                        @{

                            foreach (var app in AppWait)
                            {
                                Html.RenderPartial("~/Views/PatialViews/_AllAppointment.cshtml", app);
                            }
                        }

                    </tbody>
                </table>
                            }
                            else
                            {  <div style="text-align:center"> No Appointment</div>}
        </div>
        <div class="ui segment">

            @* Complete monthly appointment *@
            <div class="ui grey large label">
                Complete appointment
            </div>

            @{if (AppCom != null && AppCom.ToList().Count > 0)
            {
                    <table class="ui single line selectable  table" style="border:none!important">
                        <thead>
                            <tr>
                                <th class="one wide">Date</th>
                                <th class="two wide">Member name</th>
                                <th class="two wide">Pet name</th>
                                <th class="four wide">Detail</th>
                                <th class="one wide">Status</th>
                                <th class="two wide" style="text-align:center">View</th>
                                <th class="two wide" style="text-align:center">Delete</th>
                                <th class="two wide"></th>
                            </tr>
                        </thead>
                        <tbody>
                            @* Complete monthly appointment *@
                            @{


                                foreach (var app in AppCom)
                                {
                                    Html.RenderPartial("~/Views/PatialViews/_AllAppointment.cshtml", app);

                                }
                            }


                        </tbody>
                    </table>

                                }
                                else
                                {  <div style="text-align:center"> No Appointment</div>}

            }

        </div>
    </div>
</div>

