@model VA.Models.Clinic

@{  ViewBag.Title = "VA Profile";
    Layout = "~/Views/Shared/_LayoutTest.cshtml";
}


<div class="ui padded segment" style="margin-right: 18.5em;background-color:#FAFAFA;border:0px;box-shadow:none">
    <br />
    <br />
    <br />
    <div class="ui one column center aligned page grid">
        <div class="column fourteen wide">
            <div class="ui segment">
                <form class="ui form" style="text-align:left">
                    <input type="hidden" name="clinicID" value="@Model.id">
                    <div class="field">
                        <label>Maximum case that the clinic can take at a time</label>
                        <input type="text" name="maximumCase" id="maximumCase" value="@Model.maximumCase">
                    </div>
                    <div class="actions">
                        <button class="ui teal right floated button VA_Setting_button">edit</button>
                    </div>
                    <br /><br />
                </form>
            </div>
        </div>
    </div>

</div>

