@model VA.Models.Clinic

@{  ViewBag.Title = "VA Profile";
    Layout = "~/Views/Shared/_test.cshtml";
}

<div class="ui vertical left visible sidebar menu" style="font-size:18px">
    <div class="item" style="font-family: 'Raleway', sans-serif; font-size:48px;text-align:center;font-weight:bold;margin-bottom:55px;color:white;background-color:teal">

        VA

    </div>

    <div class="ui secondary vertical pointing massive menu" style="color:darkgray">
        <a class="item" style="font-size:16px"  href="/VA/Home/">
            <i class="home icon" style="float:left;padding-right:25px"></i>Home
        </a>
        <a class="item"  href="/VA/Home/Appointment"  style="font-size:16px">
            <i class="calendar icon" style="float:left;padding-right:25px"></i>
            Appointment
        </a>
        <a class="item" style="font-size:16px"  href="/VA/Home/Member">
            <i class="user icon" style="float:left;padding-right:25px"></i>
            Member
        </a>
        <a class="item" href="/VA/Home/PetSpecie" style="font-size:16px;">
            <i class="setting icon" style="float:left;padding-right:25px"></i>
            Pet specie
        </a>
        <a class="active item" style="font-size:16px;color:#00B5AD;border-left: 5px #00B5AD solid;">
            <i class="setting icon" style="float:left;padding-right:25px"></i>
            Clinic Setting
        </a>
    </div>
</div>
<div class="pusher">

    <div class="ui secondary pointing massive menu" style="background-color:white;padding-right:270px;border:none!important;font-size:16px">
        <div class="item">
            <i class="paw icon"></i> Hello, administrator Maewnam
        </div>
        <div class="right menu">
            <a href="/VA/Home/Logout" class="ui item">
                Logout
            </a>
        </div>
    </div>
    <div class="ui padded segment" style="margin-right: 18.5em;background-color:#FAFAFA;border:0px;box-shadow:none">
        <br />
        <br />
        <br />
        <div class="ui one column center aligned page grid">
            <div class="column fourteen wide">
                <div class="ui segment">
                    <form class="ui form" style="text-align:left">
                        <input type="hidden" name="clinicID" value="@Model.id">
                        <div class="field">
                            <label>Maximum case that the clinic can take at a time</label>
                            <input type="text" name="maximumCase" id="maximumCase" value="@Model.maximumCase">
                        </div>
                        <div class="actions">
                            <button class="ui teal right floated button VA_Setting_button">edit</button>
                            </div>
                            <br /><br />
</form>
                </div>
            </div>
        </div>

    </div>
</div>
