@model IEnumerable<VA.Models.PetType>

<div class="ui modal" id="create_pet_modal" style="left: 60%;width: 40%;margin-top: -114.5px;">
    <i class="close icon"></i>
    <div class="header">
        Create new pet account
    </div>
    <div class="image content">
        <form class="ui form" id="create_pet_form">
            <div class="field">
                <label>Pet name</label>
                <input name="petName" type="text" id="petName">
            </div>

            <select name="specie" class="ui dropdown" id="select_specie">
                @{
                    if (Model != null && Model.ToList().Count > 0)
                    {
                        foreach (var type in Model)
                        {
                            <option value="@type.id">@type.name</option>
                        }
                    }
                }
            </select>
            <div class="ui error message"></div>
        </form>
    </div>
    <div class="actions">
        <div class="ui black deny button">
            Cancel
        </div>
        <div class="ui ok green basic button">
            <i class="checkmark icon"></i>
            Confirm
        </div>
    </div>
</div>