
<div class="ui modal" id="create_specie_modal" style="left: 60%;width: 40%;margin-top: -114.5px;">
    <i class="close icon"></i>
    <div class="header">
        Create new pet specie
    </div>
    <div class="image content">
        <form class="ui form" id="create_pet_form">
            <div class="field">
                <label>Pet specie</label>
                <input name="petName" type="text" id="petSpecie">
            </div>
            <div class="ui error message"></div>
        </form>
    </div>
    <div class="actions">
        <div class="ui black deny button">
            Cancel
        </div>
        <div class="ui green basic button confirm_create_specie_button">
            <i class="checkmark icon"></i>
            Confirm
        </div>
    </div>
</div>